name : Build WF
on:
  # push:
  #   branches:
  #     - main
  permissions:
  contents: read
  
  pull_request:
    branches:
      - main



jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v5
      - name: Maven Build
        run: mvn install

      - name: Upload Build Artifact (WAR)
        uses: actions/upload-artifact@v4
        with:
         name: vprofile-app
         path: target/*.war

      - name: Modify if build fails
        if: failure()
        run: echo "Build failed! Please check the logs." 


  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
      - name: Maven Test
        run: mvn test
      - name: Checkstyle Analysis
        run: mvn checkstyle:checkstyle